:root {
    --text-color: #606060;
}

html {
    font-size: 10px;
}

body {
    position: relative;
	margin: 0;
    font-size: 1.4rem;
    font-family: "Lucida Console";
	background: #f4f4f4;
	color: var(--text-color, black);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    z-index: 2020;
    transform: translateY(0);
    transition: transform 0.3s ease;
    background-color: #fffffffa;
}

main {
    margin-top: 56px;
}


main, header, footer {
  padding: 0 15px;
}

@media (min-width: 575.98px){
  main, header, footer {
    padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px){
  main, header, footer {
    padding: 0 calc(50vw - 360px);
  }
}

@media (min-width: 991.98px) {
  main, header, footer {
    padding: 0 calc(50vw - 480px);
  }
}

@media (min-width: 1199.98px){
  main, header, footer {
    padding: 0 calc(50vw - 590px);
  }
}

#progress {
	position: fixed;
    top: 0;
    width: 100%;
    height: 2px;
    z-index: 2030;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

#progress__bar {
	width: 0%;
	height: inherit;
	background: #449ae6;
}

#top {
    position: fixed;
    visibility: hidden;
    right: 2rem;
	bottom: 3rem;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #111;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
